<div>
  <h2 id="page-heading" data-cy="DaireHeading">
    <span jhiTranslate="apartApp.daire.home.title">Daires</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="apartApp.daire.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-daire"
        [routerLink]="['/daire/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="apartApp.daire.home.createLabel"> Create a new Daire </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="daires?.length === 0">
    <span jhiTranslate="apartApp.daire.home.notFound">No daires found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="daires && daires.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="apartApp.daire.no">No</span></th>
          <th scope="col"><span jhiTranslate="apartApp.daire.oturanBilgi">Oturan Bilgi</span></th>
          <th scope="col"><span jhiTranslate="apartApp.daire.apartmanid">Apartmanid</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let daire of daires; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/daire', daire.id, 'view']">{{ daire.id }}</a>
          </td>
          <td>{{ daire.no }}</td>
          <td>
            {{ daire.oturanBilgi?.login }}
          </td>
          <td>
            <div *ngIf="daire.apartmanid">
              <a [routerLink]="['/apartman', daire.apartmanid?.id, 'view']">{{ daire.apartmanid?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/daire', daire.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/daire', daire.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(daire)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
