<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mesaj-heading" data-cy="MesajCreateUpdateHeading" jhiTranslate="apartApp.mesaj.home.createOrEditLabel">
        Create or edit a Mesaj
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="apartApp.mesaj.mesajIcerik" for="field_mesajIcerik">Mesaj Icerik</label>
          <textarea
            class="form-control"
            name="mesajIcerik"
            id="field_mesajIcerik"
            data-cy="mesajIcerik"
            formControlName="mesajIcerik"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="apartApp.mesaj.aktif" for="field_aktif">Aktif</label>
          <input type="checkbox" class="form-check" name="aktif" id="field_aktif" data-cy="aktif" formControlName="aktif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="apartApp.mesaj.sahib" for="field_sahib">Sahib</label>
          <select class="form-control" id="field_sahib" data-cy="sahib" name="sahib" formControlName="sahib">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('sahib')!.value?.id ? editForm.get('sahib')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
